<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="dbx"
           connectionString="Data Source=MBP-WIN-M\SQLEXPRESS;Initial Catalog=MobileData;Persist Security Info=True;User ID= sa;Password= hodaka"
           providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>        
