<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="dbx" connectionString="Data Source=MOZAMEL-OFFICE\SQLEXPRESS;Initial Catalog=mm;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication2.Properties.Settings.mmConnectionString"
      connectionString="Data Source=MOZAMEL-OFFICE\SQLEXPRESS;Initial Catalog=mm;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication2.Properties.Settings.mmConnectionString1"
      connectionString="Data Source=MBP-WIN-M\SQLEXPRESS;Initial Catalog=mm;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>